ip localhost # IP / domain name / localhost where MPExtended can be found
port 4322 # port of MPExtended
library_location C:\TTVLib\ # library location for all TorrentTV files, with trailing backslash
slice_size 5 # amount of time in minutes each slice is recorded for
computer_id 0 # starts with 0. From 0 to (nnumber_of_others - 1).
total_computers 2 # number of OTHER computers in the network. Must be at least 2.
epg_channel_id 1302 # the ID of the channel to record as it appears in the EPG. EPG should be loaded into MediaPortal so channel mapping can be found. This one is TV3PLUS1